<template>
  <header>
    <h1>StuffyGen</h1>
  </header>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Creepster&display=swap");
$snotGreenRGB: rgb(16, 107, 33);
header {
  background-color: white;
  background-image: url("../assets/tissue-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  h1 {
    color: $snotGreenRGB;
    font-family: "Creepster", display;
    font-size: calc(4vw + 4vh + 2em);
  }
}
</style>
