<template>
  <main>
    <textarea v-model="content"></textarea>
    <div>
      <h2>Result</h2>
      <p>
        {{
          content
            .replace(/ng/g, "gg")
            .replace(/n't/g, "'d")
            .replace(/n/g, "d")
            .replace(/m/g, "b")
            .replace(/N/g, "D")
            .replace(/M/g, "B")
        }}
      </p>
    </div>
  </main>
</template>

<script>
export default {
  data: () => {
    return { content: "", display: false };
  }
};
</script>

<style lang="scss">
main {
  display: flex;
  width: 100vw;
  @media (min-width: 640px) {
    width: 75vw;
  }
  @media (min-width: 1024px) {
    width: 50vw;
  }
  margin: 1em auto;
  padding: 1em;
  background-color: white;
  flex-direction: column;
  @media (min-width: 1280px) {
    flex-direction: row;
  }
  textarea {
    width: 100%;
    @media (min-width: 1280px) {
      width: 48%;
      margin: 0 1%;
    }
  }
  div {
    flex-grow: 0;
    h2 {
      font-weight: 900;
    }
    @media (min-width: 1280px) {
      max-width: 48%;
      margin: 0 1%;
    }
  }
}
</style>
