<template>
  <div id="app">
    <Header />
    <div id="instructions">
      <p>
        Write stuffed up dialogue in the textbox below, and get instant
        feedback!
      </p>
    </div>
    <Main />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Main from "./components/Main.vue";

export default {
  name: "App",
  components: {
    Header,
    Main
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap");
* {
  margin: 0;
}

$snotGreenRGB: rgb(16, 107, 33);
body {
  background-color: $snotGreenRGB;
  font-family: "Source Sans Pro", sans-serif;
}
#instructions {
  background-color: white;
  margin: 1em auto;
  text-align: center;
  width: 50vw;
  @media (min-width: 1280px) {
    width: 25vw;
  }
}
</style>
